.dropdown-container {
  width: 100%;
  height: 40rem;
  background-color: $background-color-white;
  border-radius: 0.4rem;
  border: 1px solid darken($border-color, 10);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: start;
  padding: 1rem 2rem;
}