.dropdown {
  width: 100%;
  height: 0;
  background-color: $color-white;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: start;
  overflow: hidden;
  padding: 1rem 2rem;

  &--opened {
    border: 1px solid darken($color-light-grey, 10);
    animation: dropdown-slide-in 0.3s ease forwards;
  }

  &--closed {
    animation: dropdown-slide-out 0.3s ease forwards;
  }
}



