.dropdown {
  width: 100%;
  height: 0;
  background-color: $background-color-white;
  border-radius: 0.4rem;
  border: 1px solid darken($border-color, 10);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: start;
  transition: height 0.3s ease;
  display: none;
  
  &--opened {
    display: block;
    height: 40rem;
    padding: 1rem 2rem;
  }
}