.tour {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 1.2rem;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease;
  padding: 2.5rem;
  gap: 0.8rem;

  &__divider {
    width: 100%;
    height: 1px;
    background-color: $color-light-grey;
    margin: 0.4rem 0;
  }

  &__services {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  &__location {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  &__image {
    width: 100%;
    height: 16rem;
    object-fit: cover;

    &--full {
      height: 50rem;

      @media (max-width: 768px) {
        height: 40rem;
      }

      @media (max-width: 480px) {
        height: 30rem;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 0.7rem;
    gap: 0.8rem;
  }

  &__title {
    font-size: 1.8rem;
  }

  &__location {
    color: #555;
  }

  &__description {
    padding: 0.7rem;
  }

  &__date {
    font-size: 1.4rem;
    color: #777;
    display: flex;
    gap: 1rem;
    align-items: center;


  }

  &__price {
    font-weight: bold;
  }

  &__link {
    display: inline-block;
    color: $primary-button-color;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}

.location {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  &__image {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.description {
  padding: 0.7rem;

  &__title {
    margin-bottom: 0.4rem;
    font-size: 1.8rem;
    font-weight: bold;
  }

  &__text {
    font-size: 1.4rem;
    color: #777;
  }
}

.date {
  &__icon {
    width: 2rem;
    height: 2rem;
  }
}

.navigate-back {
  padding: 2rem 0;
  
  &__icon {
    font-size: 2.4rem;
    color: #555;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: $primary-button-color;
    }

  }
}