.button {
  width: 100%;
  height: 100%;
  background-color: $primary-button-color;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1.6rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($primary-button-color, 10);
  }
}