.form-container {
  padding: 2rem 4rem;
  border-radius: 1rem;
  background-color: $background-color-white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 520px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}