.form-container {
  margin-top: 2.5rem;
  padding: 2rem 4rem;
  border-radius: 1rem;
  background-color: $color-white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;

  @media (max-width: 992px) {
    padding: 1.5rem 3rem;
    width: 350px;
  }

  @media (max-width: 768px) {
    padding: 1rem 1.5rem;
    width: 300px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}