.country-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem 0.5rem;
  border-radius: 0.3rem;
  transition: background-color 0.3s ease;

  &:hover {
    cursor: pointer;
    background-color: $color-light-gray;
  }

  &__flag {
    width: 3rem;
    height: 1.75rem;
    border-radius: 0.4rem;
  }
}