@keyframes dropdown-slide-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
    height: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    height: 40rem;
  }
}

@keyframes dropdown-slide-out {
  0% {
    opacity: 1;
    transform: translateY(0);
    height: 40rem;
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
    height: 0;
  }
}