// styles
@import './reset';
@import './vars';

// layout
@import '../Layout/Layout';

// pages
@import '../pages/NotFoundPage/NotFoundPage';

//controls
@import '../controls/Button/Button';
@import '../controls/Input/Input';
@import '../controls/IconClearButton/IconClearButton';

//components
@import '../App.scss';
@import '../components/Form/Form';