// styles
@import './reset';
@import './vars';
@import './animations';

// layout
@import '../Layout/Layout';

// pages
@import '../App.scss';
@import '../pages/NotFoundPage/NotFoundPage';

//controls
@import '../controls/Button/Button';
@import '../controls/Input/Input';
@import '../controls/IconClearButton/IconClearButton';
@import '../controls/Dropdown/Dropdown';

//components
@import '../components/Form/Form';
@import '../components/CountriesList/CountriesList';
@import '../components/CountryItem/CountryItem';