// styles
@import './reset';
@import './vars';
@import './animations';

// layout
@import '../Layout/Layout';

// pages
@import '../App.scss';
@import '../pages/NotFoundPage/NotFoundPage';
@import '../pages/TourPage/TourPage';

//controls
@import '../controls/Button/Button';
@import '../controls/Input/Input';
@import '../controls/IconClearButton/IconClearButton';
@import '../controls/Dropdown/Dropdown';

//components
@import '../components/Form/Form';
@import '../components/SearchResultsList/SearchResultsList';
@import '../components/SearchResultItem/SearchResultItem';
@import '../components/Main/Main';
@import '../components/ToursList/ToursList';
@import '../components/TourCard/TourCard';
@import '../components/ResultStatus/ResultStatus';
@import '../components/Spinner/Spinner';
@import '../components/TourServices/TourServices';
