.main {
  width: 100%;
  height: 100%;
  padding: 0 4rem;

  @media (max-width: 992px) {
    padding: 0 1rem;
  }

  @media (max-width: 768px) {
    padding: 0;
  }

  &__spinner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}