.clear-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.6rem;
  color: #999;
  transition: color 0.3s ease;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);

  &:hover {
    color: #333;
  }
}