.services {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;

  &__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
  }

  &__text {
    font-size: 1.4rem;
    color: darken($color-light-grey, 50);
    font-weight: 500;
  }
}