.tour-list {
  width: 700px;
  padding: 25px;
  margin: 0 auto;
}

.tours-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
  }
}