  .layout {
    width: 100vw;
    min-height: 100vh;
    background-color: $color-light-gray;

    &__container {
      width: 100%;
      height: 100vh;
      max-width: 1200px;
      padding: 2rem;
      margin: 0 auto;
      box-sizing: border-box;
    }

    @media (min-width: 1400px) {
      &__container {
        max-width: 1320px;
      }
    }

    @media (max-width: 1200px) {
      &__container {
        max-width: 1140px;
      }
    }

    @media (max-width: 992px) {
      &__container {
        padding: 2rem;
        max-width: 960px;
      }
    }

    @media (max-width: 768px) {
      &__container {
        padding: 1.5rem;
        max-width: 100%;
      }
    }

    @media (max-width: 576px) {
      &__container {
        padding: 1rem;
      }
    }
  }