.notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    height: fit-content;
  }

  &__text {
    font-size: 4rem;
    font-weight: 600;
  }
}