.notfound {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  &__text {
    font-size: 4rem;
    font-weight: 600;
  }
}